
@media (min-width: 45em) {

	.containerbox {
		width: 35em;
		height: auto;
	}
}

 
@media (min-width: 1000px) {

	.containerright {
	float: right;
	padding-right: 5%;
}

.containerleft {
	float: left;
	padding-left: 5%
}
.postdiv {
	position: relative;
    bottom: 10em;
    right: 0e;
    left: 0;
}
.ellycontainer{
	float: right;
	clear: right;
	
}

}
  


@media (min-width: 760px) {

	.description {
		font-size: 2em;
		height: auto;
	}

    .socialicon {
    	float: right;
    	clear: right;
    	padding-right: 20px;
    }
        .postdiv {
	 position: relative;
    bottom: 10em;
    right: 0;
    left: 10em;
}


}


@media (max-width: 45em) {

/*    .socialicon {
    	display: inline-block;
    }*/
    .signin .login {
    	font-size: 2em;
    }

}

@media (min-width: 60em) {

	.description {
	font-size: 2em;
	padding-top: 50%;
	padding-bottom: 10%;
	}

 
}



@media (max-width: 50em) {

	.closenav {
    visibility: hidden;   
}
   .footernav {
	visibility: hidden;
	display: none;
	
}


}




@media (min-width: 50em) {

.socialicon {
	float; right;
	clear: right;
}
}


